html,
body,
#root {
	height: 100%;
}

main {
	display: flex;
	flex-direction: column;

	gap: 0.25rem;

	height: 100%;
	width: 100%;
}

main p {
	margin: 0;
}

.form-col,
.form-row {
	display: flex;
}

.form-col.full,
.form-row.full {
	width: 100%;
}

.form-row {
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

.form-col {
	flex-direction: column;
	gap: 0.5rem;
}
