html,
body,
#root {
	height: 100%;
}

main {
	display: flex;
	flex-direction: column;

	gap: 0.25rem;

	height: 100%;
	width: 100%;
}

main p {
	margin: 0;
}

.form-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.75rem;
}

.form-col {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.w-100 {
	width: 100%;
}
