#chat {
	flex-shrink: 0;

	display: flex;
	flex-direction: column;
	gap: 8px;

	padding: 8px;
}

#chat #send,
#chat {
	width: 100%;
}

#chat #message {
	resize: vertical;
}

#chat #remote-status {
	display: none;
	padding: 4px;
	font-size: 11px;
	color: var(--vscode-charts-orange);
}

#chat.remote-off #remote-status {
	display: block;
}
