#message-container {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;

	flex: 1;
	overflow-y: auto;
	min-height: 0;

	/* Scroll to end */
	margin-top: auto;

	/* Scrollbar */
	padding: 0 0.5rem;
}

.message-row {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	justify-content: center;
}

.message-row.owner {
	align-items: flex-end;
}

.message-block {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	min-width: 130px;
}

.message-box {
	background-color: var(--vscode-chat-requestBubbleBackground);

	border-radius: var(--vscode-cornerRadius-medium);
	padding: 8px 12px;
}

.message-box.owner {
	background-color: var(--vscode-button-background);
	color: var(--vscode-strongForeground);
}

.message-infos {
	font-size: 11px;

	padding-left: 0.25rem;

	min-width: max-content;
}

.message-blank {
	flex: 1;
}
