#message-container {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;

	overflow-y: auto;
	min-height: 0;

	/* Scroll to end */
	margin-top: auto;
	margin-bottom: 0.5rem;

	/* Scrollbar */
	padding: 0 0.5rem;
}

.message-row {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	justify-content: center;
}

.message-row.owner {
	align-items: flex-end;
}

.message-block {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;

	min-width: 130px;
	max-width: 100%;
}

.message-box {
	background-color: var(--vscode-chat-requestBubbleBackground);

	border-radius: var(--vscode-cornerRadius-medium);
	padding: 0.25rem 0.5rem;
}

.message-box.owner {
	background-color: var(--vscode-button-background);
	color: var(--vscode-button-foreground);
}

.message-infos {
	font-size: 11px;
	color: var(--vscode-descriptionForeground);

	padding-left: 0.25rem;

	display: flex;
	gap: 0.25rem;
}

.message-box p {
	white-space: pre-wrap;
	overflow-wrap: anywhere;
}

.message-infos strong {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.message-infos span {
	min-width: max-content;
}

.message-blank {
	flex: 1;
}
